.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.center-focus {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 250px;
  transform: translate(-50%, -50%);
  transition: 2s all;
  cursor: pointer;
  z-index: 2000;
}

.box {
  position: absolute;
  bottom: -1000px;
  background-color: #E91E63;
  height: 100px;
  width: 100px;
  cursor: pointer;
  transition: 2s all;
}

.box1 {
  left: 500px;
  transition: .5s all;
}

.box2 {
  left: 900px;
  transition: 1s all;
}


.box3 {
  left: 350px;
  transition: 2s all;
}


.box4 {
  left: 700px;
  transition: .5s all;
}


.box5 {
  left: 470px;
  transition: .7s all;
}

.center-focus img {
  height: 100%;
  width: 100%;
}
